## Prova N1 - Inteligência Artificial

### Nome: Higor Henrique Reculiano 

### RA: 081180036

In [47]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Base de dados :

In [48]:
base = pd.read_excel('titanic_reduced_database_ready.xlsx')

base.head()

c:\Users\higorh\AppData\Local\Programs\Python\Python310\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

,sobrevivente,classe_da_passagem,nome_passageiro,sexo,idade,irmaos_ou_esposa_a_bordo,pais_filhos_a_bordo,valor_passagem,local_de_embarque
0,nao,3,"Braund, Mr. Owen Harris",male,22.0,1,0,7.25,S
1,sim,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,712833.00,C
2,sim,3,"Heikkinen, Miss. Laina",female,26.0,0,0,7925.00,S
3,sim,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,53.10,S
4,nao,3,"Allen, Mr. William Henry",male,35.0,0,0,8.05,S

## Conversão de features :

In [49]:
sexo = pd.get_dummies(base['sexo'], drop_first = True)

sobrevivente = pd.get_dummies(base['sobrevivente'], drop_first = True)

base.drop(['nome_passageiro', 'sexo', 'local_de_embarque', 'sobrevivente'], axis = 1, inplace = True)

base = pd.concat([base, sexo, sobrevivente], axis = 1)

base.rename(columns = {'sim': 'sobrevivente', 'male': 'homem'}, inplace = True)
base.head()

,classe_da_passagem,idade,irmaos_ou_esposa_a_bordo,pais_filhos_a_bordo,valor_passagem,homem,sobrevivente
0,3,22.0,1,0,7.25,1,0
1,1,38.0,1,0,712833.00,0,1
2,3,26.0,0,0,7925.00,0,1
3,1,35.0,1,0,53.10,0,1
4,3,35.0,0,0,8.05,1,0

## Classificador:

In [50]:
from sklearn.linear_model import LogisticRegression

In [51]:
from sklearn.model_selection import train_test_split

In [52]:
from sklearn import metrics

In [53]:
y = base.sobrevivente
x = base[['classe_da_passagem','idade','irmaos_ou_esposa_a_bordo','pais_filhos_a_bordo','homem']]

X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=0)

In [54]:
logReg = LogisticRegression()

logReg.fit(X_train,y_train)
y_pred=logReg.predict(X_test)

print(y_pred)

[1 0 0 0 0 1 0 0 0 1 0 0 0 0 1 1 0 0 0 1 1 0 0 0 0 1 0 0 1 0 0 0 1 0 0 1 0
 1 1 1 1 0 0 0 1 1 1 1 0 0 0 1 0 0 1 1 0 0 0 0 1 0 0 0 1 0 0 1 0 0 0 1 1 0
 0 0 0 0 0 0 1 1 0 0 0 0 1 0 0 1 1 1 0 0 1 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0
 1 0 1 0 0 0 0 0 0 0 1 1 0 1 1 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0
 1 0 0 1 1 0 1 0 1 0 0 0 1 0 1 1 0 1 1 0 0 1 0 0 1 0 0 0 1 1 0 0 1 0 1 0 1
 1 0 0 1 0 0 1 0 0 1 1 1 0 0 0 1 0 0 1 1 0 1 1 1 1 1 0]

In [55]:
cnfMatriz = metrics.confusion_matrix(y_test, y_pred)
cnfMatriz

array([[107,  18],
       [ 27,  60]], dtype=int64)